{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main">
    <br>
    {{ content }}
        <div class="grid-container-gallery">
            <a href="../portfolio/assets/img/indien1.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien1.jpg?area=30,0,0,0">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien1liten.jpg">
                    <img src="{{ base_url }}/image/indien1.jpg?area=30,0,0,0" alt="Semesterbild från Indien" class="gallery-item1">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien2.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien2.jpg?area=30,0,17.5,0">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien2liten.jpg">
                    <img src="{{ base_url }}/image/indien2.jpg?area=30,0,17.5,0" alt="Semesterbild från indien" class="gallery-item2">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien3.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien3.jpg?area=30,0,0,0">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien3liten.jpg">
                    <img src="{{ base_url }}/image/indien3.jpg?area=30,0,0,0" alt="Semesterbild från indien" class="gallery-item3">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indienbil.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indienbil.jpg?area=0,0,30,0">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indienbilliten.jpg">
                    <img src="{{ base_url }}/image/indienbil.jpg?area=0,0,30,0" alt="Semesterbild från indien" class="gallery-item4">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien5.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien5.jpg?area=10,0,20,0">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien5liten.jpg">
                    <img src="{{ base_url }}/image/indien5.jpg?area=10,0,20,0" alt="Semesterbild från indien" class="gallery-item5">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien6.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien6.jpg?area=10,0,20,0">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien6liten.jpg">
                    <img src="{{ base_url }}/image/indien6.jpg?area=10,0,20,0" alt="Semesterbild från indien" class="gallery-item6">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien7.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien7.jpg">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien7liten.jpg">
                    <img src="{{ base_url }}/image/indien7.jpg" alt="Semesterbild från indien" class="gallery-item7">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien8.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien8.jpg">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien8liten.jpg">
                    <img src="{{ base_url }}/image/indien8.jpg" alt="Semesterbild från indien" class="gallery-item8">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien9.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien9.jpg">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien9liten.jpg">
                    <img src="{{ base_url }}/image/indien9.jpg" alt="Semesterbild från indien" class="gallery-item9">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien10.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien10.jpg">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien10liten.jpg">
                    <img src="{{ base_url }}/image/indien10.jpg" alt="Semesterbild från indien" class="gallery-item10">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien11.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien11.jpg?area=20,0,20,0">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien11liten.jpg">
                    <img src="{{ base_url }}/image/indien11.jpg?area=20,0,20,0" alt="Semesterbild från indien" class="gallery-item11">
                </picture>
            </a>
            <a href="../portfolio/assets/img/indien12.jpg">
                <picture>
                    <source media="(min-width: 800px)" srcset="{{ base_url }}/image/indien12.jpg?area=24,0,20,0">
                    <source media="(max-width: 799px)" srcset="{{ base_url }}/image/indien12liten.jpg">
                    <img src="{{ base_url }}/image/indien12.jpg?area=24,0,20,0" alt="Semesterbild från indien" class="gallery-item12">
                </picture>
            </a>
        </div>
        <div class="youtubevideo">
        <iframe width="760" height="415" src="https://www.youtube.com/embed/Y3U_VseqrRQ?si=L86f7hvm_R8ljCUm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
